.grid{
    display: grid;
    grid-template-columns: 65% 27%;
    grid-gap: 4rem;
    height: 95vh;
    width: 100%;
    overflow-y: scroll;
    padding: 1rem;

}

@media screen and (max-width: 1050px) {
   .grid{
    grid-template-columns: 95% 5%;
   }
  }
  @media screen and (max-width: 1350px) {
    .grid{
        display: flex;
        flex-direction: column;
    }
   }
 