@import "../styles/variables.scss";
.layout {
  display: grid;
  grid-template-columns: 10% 87%;
  padding: 2rem;
  grid-gap: 4rem;
}

.sideBar {
  width: 10rem;
  height: 95vh;
  background-color: $primary-color;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem;
  &__logo {
    width: 6rem;
    background-color: #32425a;
    padding: 1rem;
    border-radius: 1rem;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    font-size: 2rem;
    color: rgb(154, 154, 154);
    span:nth-child(1) {
      font-size: 5rem;
      margin-bottom: 0.5rem;
    }
  }
}
.active {
  color: white;
}

@media screen and (max-width: 800px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
}
